@import 'src/assets/scss/TabbedPane';

.InviteCodesTab {
  height: 100%;

  &__List {
    width: 400px;
    padding: 1em;
    margin: auto;

    overflow-y: scroll;

    &__Item {
      display: flex;
      flex-direction: row;
      margin: .75em 0;

      &__Infos {
        flex: 1;
      }

      &__Used {
        text-decoration: line-through;
      }
    }
  }

}