.env
*.pem
__debug_bin

npm-debug.log*
yarn-debug.log*
yarn-error.log*

frontend/setup/node_modules
frontend/setup/.pnp
frontend/setup.pnp.js
frontend/setup/build

frontend/app/node_modules
frontend/app/.pnp
frontend/app/setup.pnp.js
frontend/app/build

/pkged.go

# Certificate for local https (Generate yours using mkcerts)
*.pem

docker/scinna/*
docker/.*
docker/*.yml
