@import './Colors.scss';

#content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;

    width: 400px;
    padding: 2em;
    border-radius: .5em;

    background: $background-darker;

    input[type="submit"], label:not(:first-child) {
      margin-top: 1em;
    }
  }
}