@import './Colors.scss';

#content form {
  input[type="submit"], label:not(:first-child) {
    margin-top: 1em;
  }

  .message {
    &.error {
      color: $error-color;
    }

    &.success {
      color: $error-color;
    }
  }
}