Bonjour,<br />
<br />
Vous avez enregistré votre compte sur un serveur Scinna, merci de l'activer en cliquant <a href="{{.Url}}">ici</a> ou en copiant-collant le lien suivant:<br /><a href="{{.Url}}">{{.Url}}</a>
<br />
<br />
Ce lien ne sera valide qu'une heure après l'inscription, passé ce délais vous devrez vous ré-inscrire. <br />
Si vous n'avez pas demandé la création de ce compte, ignorez simplement cet email.<br />

