@import '../_Colors.scss';

.Browser {
  display: flex;
  flex-direction: column;

  &__Pending {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: center;
  }

  &__Header {
    display: flex;

    &__AddressBar {
      flex: 1;
      margin: auto !important;

      input {
        padding: 0;
      }
    }
  }

  &__IconList {
    display: flex;
    max-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;

    padding: 1em;
    margin: 1em;
    gap: 3em;

    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__SpeedDial {
    position: absolute;
    right: 2.5em;
    bottom: 2.5em;
  }
}

.CreateFolder {
  &__VisibilityLabel {
    margin-top: 1em;
  }
}

.FileUploader {
  &__VisibilityLabel {
    margin-top: 1em;
  }

  &__Description {
    border: none;

    background: $background;
    color: #ffffff;
  }

  &__Progress {
    margin-top: 1em;
  }

  &__Success, &__Error {
    display: block;
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }

  &__Error {
    color: #f54d64;
  }

  &__Success {
    &__Link {
      margin-top: 1em;
    }
  }
}