Hey!<br />
<br />
Il semblerait que vous ayez oublié votre mot de passe {{ .Branding }}? Cliquez <a href="{{.Url}}">ici</a> pour le ré-initialiser ou copiez-collez cette URL:<br /><a href="{{.Url}}">{{.Url}}</a>.<br />
<br />
<br />
Si vous n'avez pas fais cette demain, merci de simplement ignorer ce message.<br/>
