Hey!<br />
<br />
It looks like you forgotten your {{ .Branding }} password ? Click <a href="{{.Url}}">here</a> to reset it or copy-paste the following link:<br /><a href="{{.Url}}">{{.Url}}</a>.<br />
<br />
<br />
If you did not request this link, please just ignore this email.<br/>
