Hello,<br />
<br />
You have registred for an account on a Scinna server, please activate it by clicking <a href="{{.Url}}">here</a> or by copy-pasting the following link:<br /><a href="{{.Url}}">{{.Url}}</a>.<br />
<br />
<br />
Keep in mind that this link will only work for one hour after registration. If you missed the validation, you need to register again.<br />
If you did not register, you can simply ignore this email.<br />
