{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/assets/main.css" />
        <title>{{.Title}}</title>
    </head>
    <body>
        <div id="content">
            {{block "content" .}}{{end}}
        </div>
    </body>
</html>
{{end}}