{{template "layout_mail" .}}

{{define "content"}}

    <h1>Account activation</h1>
    {{ if .Validated }}
        <p>You account has been activated.</p>
        <p>You may now use it!</p>
    {{ else if .AlreadyValidated }}
        <p>This account is already validated !</p>
    {{ else if .NotFound }}
        <p>This account does not exists.</p>
        <p>Keep in mind that accounts not activated are removed after 24h.</p>
        <p>If this was the case, you can create it again.</p>
    {{ end }}

{{end}}