{{define "content"}}

    {{ if .Validated }}
        <p>You account has been activated. You may now use it!</p>
    {{ else }}
        <p>Something went wrong activating your account.</p>
        <p>Either it is already activated, or it expired? Account not activated after 24h hours are removed</p>
    {{ end }}

{{end}}