{{define "content"}}

    {{ if .Validated }}
        <p>You account has been activated. You may now use it!</p>
    {{ else if .AlreadyValidated }}
        <p>This account is already validated !</p>
    {{ else if .NotFound }}
        <p>This account does not exists.</p>
        <p>Keep in mind that accounts not activated are removed after 24h. If this was the case, you can still create it again.</p>
    {{ end }}

{{end}}