* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1f2d3b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    width: 350px;
    background: #1d2a38;

    border: 1px solid #4e5d6c;
    border-radius: 2px;

    header {
      background: #1a2531;
      color: #bdcbdb;
      padding: .75rem;

      text-align: center;
      font-weight: 700;

      border-bottom: 1px solid #4e5d6c;
      border-radius: 2px;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }

    footer button {
      display: block;
      margin: auto auto 1em auto;
    }

  }
}

button, button:hover {
  background: #4e5d6c;
  border: 1px solid #4e5d6c;
  border-radius: none;
  padding: 1em 2em;
  color: #dee5ed;
}

button:hover {
  border: 1px solid #8694a4;
  background-color: #485563;
}

input[type="text"], input[type="password"] {
  background: rgba(134,148,164,.3);
  color: #dee5ed;
  border: none;
  padding: .7em;
  margin: .25em;
}

h1, h2, h3 {
  display: block;
  color: #dee5ed;
}

h1 {
  font-size: 3em;
  background-color: #dee5ed;
  color: #2b3e50;
}

h3 a {
  color: #dee5ed;
  text-shadow: 0 0 5px;
}
