nav {
    background-color: #2b3e50;
    color: #dee5ed;
    display: flex;
    flex-direction: row;

    .brand {
        height: 32px;
    }

    a {
        margin: .5em;
        color: inherit;
        text-decoration: none;
        font-size: 1.2em;
    }

    #menu-links {
        display: flex;
        flex-direction: row;
        flex: 1;

        .menu-start {
            flex: 1;
        }

        .menu-start, .menu-end {
            display: flex;
            align-items: center;
        }
    }
}