// Mostly stolen from AdminLTE project

/**
 * Colors
 */
$background: #222d32;
$background-darker: #1e282c;
$background-lighter: #2c3b41;

$text: #fff;
$text-lighter: #8aa4af;
//$text-lighter: #90968b;

$accent-color: #87e7e1;

$success-color: #59ff80;
$error-color: #f54d64;

/**
 * Sizes
 */
$border-radius: 8px;
