@import './_Responsive';
@import './CenteredBlock';

.centeredBlock.login {
  form {
    width: $size-s;
    margin-top: 2em;
    @media(max-width: $size-s) {
      width: 85%;
    }

    label:not(:first-child){
      margin-top: .75em;
    }

    .error {
      margin-top: 2em;

      color: #f54d64;
      text-align: center;
    }

    button {
      width: 100%;
      margin-top: .75em;
    }
  }
}