@import '_TabbedPane';

.InviteCodesTab {

  &__Generator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__List {
    width: 400px;
    padding: 1em;
    margin: auto;

    &__Item {
      & + & {
        margin: .75em 0;
      }

      &__Used {
        text-decoration: line-through;
      }
    }
  }

}