@import '_Colors';

.ShowMedia {
  display: grid;
}

.ShowPicture {
  padding: 2em;

  grid-template-areas: 'Picture Infos' 'Share Share';

  &__Picture {
    display: block;
    max-width: 50vw;
    max-height: 50vh;

    align-self: center;
    justify-self: end;

    object-fit: contain;
  }

  &__RawURL, &__Integrate {
    margin: auto;
  }

  &__Infos {
    margin-left: 2em;

    &__Collection {
      display: block;
      margin: 1em 0;

      color: $text-lighter;
    }

    &__Description {
      margin-top: 1em;
    }

    &__Visibility {
      display: block;
      margin-top: 1em;

      color: $text-lighter;
    }
  }

  &__Share {
    display: flex;
    width: 80%;
    max-width: 500px;
    flex-direction: column;

    align-self: center;
    background-color: $background-darker;
    grid-area: Share;
    justify-self: center;


    &__Content {
      max-width: 85vw; // Ugly but I can't get it to work correctly
      padding: 1em;
      margin-top: .25em;
      background: $background-darker;
      overflow-x: scroll;
    }

    a {
      color: $accent-color;
    }
  }

  @media(max-width: 600px) {
    padding: .5em;
    grid-template-areas: 'Picture' 'Infos' 'Share';

    &__Picture {
      max-width: 95vw;
    }

    &__Infos {
      margin: 0;
    }
  }
}