@import '_Colors';

.ShowMedia {
  display: grid;
}

.ShowPicture {
  align-items: center;
  justify-content: center;
  padding: 2em;

  grid-template-areas: 'Picture Infos' 'Share Share';

  &__Picture {
    display: block;
    max-width: 50vw;
    max-height: 50vh;
    margin: auto;
    object-fit: contain;
  }

  &__RawURL, &__Integrate {
    margin: auto;
  }

  &__Infos {
    margin-left: 2em;

    &__Collection {
      display: block;
      margin-bottom: 1em;

      color: $text-lighter;
    }

    &__Description {
      margin-top: 1em;
    }

    &__Visibility {
      display: block;
      margin-top: 1em;

      color: $text-lighter;
    }
  }

  &__Share {
    display: flex;
    flex-direction: column;
    grid-area: Share;

    &__Content {
      width: 100%;
      padding: 1em;
      margin-top: .25em;
      background: $background-darker;
    }

    a {
      color: $accent-color;
    }
  }

  @media(max-width: 600px) {
    padding: .5em;
    grid-template-areas: 'Picture' 'Infos' 'Share';

    &__Picture {
      max-width: 95vw;
    }

    &__Infos {
      margin: 0;
    }
  }
}